{% extends "base.html" %}


{% block headersupp %}
<div class="header-logo-parties">
    <a class="site-logo" href="/#home">
        <img src="/static/images/hands/updated_logo.png" alt="Homepage">
    </a>
</div>

<nav class="header-nav">

    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

    <div class="header-nav__content">
        <h3 style="color:#808080;">Navigation</h3>
        
        <ul class="header-nav__list">
            <li class="current"><a href="/#home" title="home">Home</a></li>
            <li><a href="/#about" title="about">About Us</a></li>
            <li><a href="/#works" title="works">How It Works</a></li>
            <li><a href="/#events" title="events">Recent Events</a></li>
            <li><a href="/#contact" title="contact">Contact</a></li>
        </ul>

        <ul class="header-nav__social">
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>

    </div> <!-- end header-nav__content -->

</nav>  <!-- end header-nav -->

<a class="header-menu-toggle" href="#0">
    <span class="header-menu-text" style="color:#808080;">Menu</span>
    <span class="header-menu-icon"></span>
</a>
{% endblock %}

{% block content %}

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/static/images/splat2.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

<div class="row clients-testimonials section-header"> <!-- data-aos="fade-up" -->
    <div class="col-full">
       <h3 class="subhead subhead--dark" style="color:#808080;">Dragon Quest</h3>
       <h3 class="subhead subhead--dark" style="color:#808080;">Greatest Hits Launch Party</h3>
       <br>
    	<p class="testimonials__pos" style="color: #BEBEBE; text-align: left;">
    	The music industry’s elite come together to celebrate the legendary careers of the world famous, Dragonquest! It’s a night filled with mystery, intrigue, and unforgettable surprises. A night that will be sure to keep you entertained!
        </p>
        <p class="testimonials__pos" style="color: #BEBEBE; text-align: left;"><img src="/static/images/dqlp/Dragonquest2.JPG" width="320" height="220" style="float: right; padding-left:1em; padding-bottom:1em;">
        The party’s host, <b>Dragonquest</b>, has been on the top of the electronic music game for a long time, but there time is dwindling with each year. They’ve recently put together a greatest hits album that has landed them, yet again, on top of the charts. What better way to celebrate, than to invite all of your rich and famous industry friends to Chicago, for a night of partying!
        </p>
        <p class="testimonials__pos" style="color: #BEBEBE; text-align: left;">
        <b>Perpetual Defender</b>, a French group of DJ’s, are tired of the countless jokes, especially from the party’s hosts. They’re a very tightknit group, often viewed as “stuck up” and as acting defensive to any criticisms. <b>The Deviant Dynasty</b> on the other hand, care more about odd sexual behavior and obnoxious showboating than anything else on this epic night. Don’t let their behavior cloud the clues that may be lying right before your eyes.
        </p>
        <p class="testimonials__pos" style="color: #BEBEBE; text-align: left;">
        Be careful of, <b>The Chain Gang</b>. A group of rappers with crime ridden pasts and VERY short tempers. They’d stop at nothing to revenge anything they perceive as wrong doings. <b>Atypical Extravagance</b> is one group at this party that has a differenet facade than the aforementioned but could play just as big of a part. They're a global pop phenomenon comprised of monster egos, and they’re sick and tired of hearing everyone say DragonQuest made them who they are.
        </p>
        <p class="testimonials__pos" style="color: #BEBEBE; text-align: left;"><img src="/static/images/dqlp/Dragonquest3.JPG" width="320" height="220" style="float: left; padding-right:1em; padding-bottom:1em;">
        Maybe no one is as famous at the party as <b>Constantine</b>, the world famous German DJ who speaks in the 3rd person and has an incredibly intimidating entourage. Unless you’re more of a fan to <b>The Power Moves</b>, an animalistic bunch led by the polarizing character, Unicizzle. No matter what, everyone will acknowledge and fawn over the legendary rock group, <b>The Crow Ponies</b>. How these old bastards are still making it up on stage is an anomaly within itself.
        </p>
        <p class="testimonials__pos" style="color: #BEBEBE; text-align: left;">
        With all of these famous people clashing and partying all night, much will be forgotten and ignored. Pay close attention to all of those in attendance, maybe even those not as suspecting, like the <b>Bjornson Family</b> or Igor- Hugo’s assistant. It’s a night that will surely bring terror, yet an unmatched thrill that will course through the party like electricity!
        </p>       
    </div> <!-- end col-full -->
</div> 

</section>


<!--
<div class="row clients-testimonials section-header" data-aos="fade-up">
    <div class="col-full">
    	<h3 class="subhead subhead--dark" style="color:#4f1a15;">The Cast</h3>
        <br>
        <h3 class="subhead subhead--dark" style="color: #BEBEBE;">The Smart Kids</h3>
    	<br>
        <div class="testimonials">

            <div class="testimonials__slide">

                <div class="col-1-4">
                    <img src="/static/images/avatars/alex.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Alexander</span> 
                        <span class="testimonials__pos" style="color: #BEBEBE;">Head Writer</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/tyler.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Tyler</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Cowriter</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
</div> 


<div class="row clients-testimonials section-header" data-aos="fade-up">
    <div class="col-full">
        <div class="testimonials">
            <div class="testimonials__slide">

                <div class="col-1-4">
                    <img src="/static/images/avatars/alex.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Alexander</span> 
                        <span class="testimonials__pos" style="color: #BEBEBE;">Head Writer</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/tyler.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Tyler</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Cowriter</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

            </div>

        </div>
        
    </div> 
</div>
 -->

{% endblock %}