{% extends "base.html" %}

{% block headersupp %}
<div class="header-logo">
    <a class="site-logo" href="/#home">
        <img src="/static/images/hands/hand_larger_text2.jpg" alt="Homepage">
    </a>
</div>

<nav class="header-nav">

    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

    <div class="header-nav__content">
        <h3 style="color:#808080;">Navigation</h3>
        
        <ul class="header-nav__list">
            <li class="current"><a class="smoothscroll"  href="/#home" title="home">Home</a></li>
            <li><a class="smoothscroll"  href="/#about" title="about">About Us</a></li>
            <li><a class="smoothscroll"  href="/#works" title="works">How It Works</a></li>
            <li><a class="smoothscroll"  href="/#events" title="events">Recent Events</a></li>
            <li><a class="smoothscroll"  href="/#contact" title="contact">Contact</a></li>
        </ul>

        <ul class="header-nav__social">
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>

    </div> <!-- end header-nav__content -->

</nav>  <!-- end header-nav -->

<a class="header-menu-toggle" href="#0">
    <span class="header-menu-text" style="color:#808080;">Menu</span>
    <span class="header-menu-icon"></span>
</a>
{% endblock %}

{% block content %}
<!-- home
================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/static/images/blood_background.png" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h3>Welcome to Mystery Party Popup</h3>

            <h1>
                Customized Mystery<br>
				Parties Like You've<br>
				Never Experienced
            </h1>

            <div class="home-content__buttons">
                <a href="#about" class="smoothscroll btn btn--stroke">
                    About Us
                </a>
                <a href="#contact" class="smoothscroll btn btn--stroke">
                    Contact
                </a>
            </div>

        </div>

        
        <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">  
                <span>Scroll Down</span>
            </a>
        </div>
         

        <!--
        <div class="home-content__line"></div>
        -->

    <div class="row section-header has-bottom-sep" id="about" style="padding-top: 5cm;">   <!-- data-aos="fade-up" -->
        <div class="col-full">
           <h3 class="subhead subhead--dark" style="color:#808080;">About</h3>  
           <!-- <h1 class="display-1 display-1--light" style="color:#808080;">We Are Mystery Party Popup</h1>  -->
           <h1 class="display-1 display-1--light" style="color:#FFFFFF;">Mystery Party Popup</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row about-desc">   <!-- data-aos="fade-up" -->
        <div class="col-full">
            <h3 class="subhead subhead--dark" style="color:#808080;">What We Do</h3>
            <p style="color:#BEBEBE;">
            Write, plan, and host customized events and parties for groups of 25-40 of your friends. We have pre-made parties that can be catered to your group’s unique personalities, or we can create a new party that is molded to your specific interests! Our parties are meant to be interactive, unique, and customized to fit the needs of your group. We touch on inside jokes and personalities, and will be sure to make this a night you’ll never forget.
            </p>
        </div>
    </div>

    <div class="row about-desc">   <!-- data-aos="fade-up" -->
        <div class="col-full">
            <h3 class="subhead subhead--dark" style="color:#808080;">What You Do</h3>
            <p style="color:#BEBEBE;">
             Assist us in writing, planning, and throwing an interactive party for 25-40 of your friends, colleagues, teammates, or anyone else you may want this experience with! Your help is appreciated throughout our creation process, as well as the party / performance. Insider information of your group is key for our process, by making the night more comfortable and hilarious for those in attendance.
            </p>
        </div>
    </div>   



        <div class="row section-header has-bottom-sep" style="padding-top: 4cm;" id="works">   <!-- data-aos="fade-up" -->
            <div class="col-full">
                <h3 class="subhead" style="color:#808080;">How This Works</h3>
                <h1 class="display-2" style="color:#FFFFFF;">We've got everything you need</h1>  <!-- #4f1a15 -->
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item">   <!-- data-aos="fade-up" -->
                <div class="service-icon">
                    <i class="icon-light-bulb"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2" style="color:#808080;">Original Content</h3>
                    <p style="color:#BEBEBE;">Get wrapped up in the twists and turns of storylines written from scratch and performed together for the 
                       first time, every time.  
                    </p>
                </div>
            </div>

            <div class="col-block service-item">   <!-- data-aos="fade-up" -->
                <div class="service-icon">
                    <i class="icon-pencil"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2" style="color:#808080;">Customized Characters</h3>
                    <p style="color:#BEBEBE;">We commit to speaking with every guest individually while writing the plot to ensure that all characters are tailored to personalities.  With the help of a group liason, you can be sure there will be plenty of inside dirt dished throughout the night.
                    </p>
                </div>
            </div>

            <div class="col-block service-item">   <!-- data-aos="fade-up" -->
                <div class="service-icon">
                    <i class="icon-mug"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2" style="color:#808080;">Full Service Catering</h3>
                    <p style="color:#BEBEBE;">Venue, booze, music .. check.  Just show up and be ready to perform.
                    </p>
                </div>
            </div>

            <div class="col-block service-item">    <!-- data-aos="fade-up" -->
                <div class="service-icon">
                    <i class="icon-trophy"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2" style="color:#808080;">Prizes</h3>
                    <p style="color:#BEBEBE;">Awards will be handed out at the end of the night for best performance as well as for the "Sleuth" who solves the murder.
                    </p>
                </div>
            </div>

        </div>
                
        
        <div class="row section-header has-bottom-sep light-sep" style="padding-top: 4cm;" id="events">   <!-- data-aos="fade-up" -->
            <div class="col-full">
                <h3 class="subhead" style="color:#808080;">Recent Events</h3>
                <h1 class="display-2 display-2--light">Check out some recent parties</h1>
            </div>
        </div>


        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">
    
                    <div class="masonry__brick">   <!-- data-aos="fade-up" -->
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="/otphh" class="thumb-link" title="OTPHH" data-size="1050x700">
                                    <img src="/static/images/portfolio/OTPHJ.PNG" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Old Town Prep
                                </h3>
                                <p class="item-folio__cat">
                                    Homecoming Horror
                                </p>
                            </div>
    
                            <a href="/otphh" class="item-folio__project-link" title="Party link">
                                <i class="icon-link"></i>
                            </a>
    

    
                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick">   <!-- data-aos="fade-up" -->
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="/static/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Chiefs" data-size="1050x700">
                                    <img src="/static/images/portfolio/woodcraft.jpg" 
                                         srcset="/static/images/portfolio/woodcraft.jpg 1x, /static/images/portfolio/woodcraft@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Kansas City
                                </h3>
                                <p class="item-folio__cat">
                                    Chiefs
                                </p>
                            </div>
    
                            <a href="" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

    
                        </div>
                    </div> <!-- end masonry__brick -->
    
                    <!-- 
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="/static/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="/static/images/portfolio/the-beetle.jpg"
                                         srcset="/static/images/portfolio/the-beetle.jpg 1x, /static/images/portfolio/the-beetle@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Mizzou
                                </h3>
                                <p class="item-folio__cat">
                                    Tigers
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
    
                        </div>
                    </div> 
                     -->
    

                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->




    </div> <!-- end home-content -->

    <ul class="home-social">
        <li>
            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span style="color:#808080;">Facebook</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span style="color:#808080;">Twiiter</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span style="color:#808080;">Instagram</span></a>
        </li>
    </ul> 
    <!-- end home-social -->

</section> <!-- end s-home -->




<!-- contact
================================================== -->
<section id="contact" class="s-contact" id="contact"> 

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="contact__line"></div>

    <div class="row section-header">   <!-- data-aos="fade-up" -->
        <div class="col-full">
            <h3 class="subhead" style="color:#808080;">Contact Us</h3>
            <h1 class="display-2 display-2--light">Get in touch for more information</h1>
        </div>
    </div>

    <div class="row contact-content">   <!-- data-aos="fade-up" -->
        
        <div class="contact-primary">

            <h3 class="h6">Send Us A Message</h3>

            <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                <fieldset>

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                </div>
                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                </div>
                <div class="form-field">
                    <button class="full-width btn--primary">Submit</button>
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div> 
        
            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div> <!-- end contact-primary -->

        <div class="contact-secondary">
            <div class="contact-info">

                <h3 class="h6 hide-on-fullwidth">Contact Info</h3>


                <div class="cinfo">
                    <h5>Email Us At</h5>
                    <p>
                        mysterypartypopup@gmail.com
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Call Us At</h5>
                    <p>
                        Phone: 312.972.1750<br>
                    </p>
                </div>

                <ul class="contact-social">
                    <li>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-info -->
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section> <!-- end s-contact -->
{% endblock %}