{% extends "base.html" %}


{% block headersupp %}
<nav class="header-nav">

    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

    <div class="header-nav__content">
        <h3 style="color:#808080;">Navigation</h3>
        
        <ul class="header-nav__list">
            <li class="current"><a class="smoothscroll"  href="/#home" title="home">Home</a></li>
            <li><a href="/#about" title="about">About Us</a></li>
            <li><a href="/#works" title="works">How It Works</a></li>
            <li><a href="/#events" title="events">Recent Events</a></li>
            <li><a href="/#contact" title="contact">Contact</a></li>
        </ul>

        <ul class="header-nav__social">
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>

    </div> <!-- end header-nav__content -->

</nav>  <!-- end header-nav -->

<a class="header-menu-toggle" href="#0">
    <span class="header-menu-text" style="color:#808080;">Menu</span>
    <span class="header-menu-icon"></span>
</a>
{% endblock %}

{% block content %}

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/static/images/splat2.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

<div class="row clients-testimonials section-header" data-aos="fade-up">
    <div class="col-full">
       <h3 class="subhead subhead--dark" style="color:#808080;">The Old Town Prep</h3>
       <h3 class="subhead subhead--dark" style="color:#808080;">Homecoming Horror</h3>
       <br>
    	<p class="testimonials__pos" style="color: #BEBEBE; text-align: left;">
    	It’s the night of the <b>Old Town Prep Homecoming Jamboree (OTPHJ)</b>, on the eve of the homecoming football game, and the school is in utter turmoil. Drug and alcohol use, along with rampant sexual acts (in the halls, rooms, and closets of the school) are forcing The Staff to reach a boiling point.
        <br><br>
        <b>The Football Team</b> is riding high since winning their last 2 games after the star quarterback went down with a career ending injury. His now former girlfriend is done with him and is moving on to other boys in the school, but just how many? That is a hot topic of conversation in the halls and amongst her crew, <b>The Cheerleaders</b>, these days.
        <br><br>
        No group at the OTPHJ is filled with as much Pony Spirit as, <b>The Smart Kids</b>.  One of the more individualistic squads of the night, they’re brilliance is often times clouded by their annoyance to the other groups, particularly <b>The Basketball Team</b>. They’re a squad in complete disarray, but offer a unique cast of characters that will be sure to make many impacts on this mysterious night.  
        <br><br>
        <b>The Mean Girls</b> have a secret they’ve been keeping from the school and are willing to do ANYTHING to keep under wraps.
        <br><br>
        <b>The Scene Kids</b> revel in others misfortunes and spend the night being way too cool for school spirit. Their infatuation with social media takes precedent over everything it seems.
        <br><br>
        <b>The Foreign Exchange Students</b> seem mostly lost at times in the rumors and happenings of the night, but is this a sly maneuver to feed a secret desire for blood?
        <br><br>
        The night will unfold many secrets that are cultivated from seemingly silly gossip. Pay attention to the rumors and clues that will be laid out for you during this night of terror. It’s a school of deceit, lies, and mischief, so be sure to stay true to your character no matter what horrors take place!!!
    	</p>
    </div> <!-- end col-full -->
</div> 

</section>


<!--
<div class="row clients-testimonials section-header" data-aos="fade-up">
    <div class="col-full">
    	<h3 class="subhead subhead--dark" style="color:#4f1a15;">The Cast</h3>
        <br>
        <h3 class="subhead subhead--dark" style="color: #BEBEBE;">The Smart Kids</h3>
    	<br>
        <div class="testimonials">

            <div class="testimonials__slide">

                <div class="col-1-4">
                    <img src="/static/images/avatars/alex.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Alexander</span> 
                        <span class="testimonials__pos" style="color: #BEBEBE;">Head Writer</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/tyler.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Tyler</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Cowriter</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
</div> 


<div class="row clients-testimonials section-header" data-aos="fade-up">
    <div class="col-full">
        <div class="testimonials">
            <div class="testimonials__slide">

                <div class="col-1-4">
                    <img src="/static/images/avatars/alex.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Alexander</span> 
                        <span class="testimonials__pos" style="color: #BEBEBE;">Head Writer</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/tyler.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Tyler</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Cowriter</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

                <div class="col-1-4">
                    <img src="/static/images/avatars/ross.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name" style="color:#BEBEBE;">Ross</span> 
                        <span class="testimonials__pos" style="color:#BEBEBE;">Bookkeeper</span>
                    </div>
                </div>

            </div>

        </div>
        
    </div> 
</div>
 -->

{% endblock %}